/*style umum*/

/*
0. general
1. header
2. navigasi
3. konten
4. sidebar
5. footer
 */


/**
 * 0. general
 */
body{
  background: #eee;
  font-family: sans-serif;
  margin:0;
}
h1{
  text-align:center;
}

h2{
  color:blue;
}

/*#E67E22
CARROT
#D35400*/
.orange{
  color:#D35400;
}

/*section{
  width: 768px;
  margin:auto;
}*/

header,section, footer{
  width:768px;
  margin:auto;
}

ul{
  padding:0;
}

li{
  background: white;
  list-style: none;
  border:dashed 2px pink;
}

li p{text-align:left;}

p{
  text-align: center;
}
/*
selector class  = .
selector id     = #
 */


/* margin dan padding */
li{
  /*3 cara menulis padding*/
  /*padding:10px;*/
  /*padding:10px 20px;*/
  padding:10px;
  margin:0 0 15px 0;
  /*width:500px;*/
}



/*blockquote{
  font-style: italic;
  border-left:#444 solid 1px;
}
*/
/*

huruf
1. Sans-serif
2. Serif
*/


/*
border
solid = 
dashed = putus - putus
dotted = titik titk
format = type tebal warna
 */


/**
 * 1. header
 * #E74C3C
 * #C0392B
 */

.merah{
  color:#C0392B;
}

#header, #header-bawah{
  padding:15px 0;
  color:#fff;
}
#header{
  background: #C0392B;
}

#header-bawah{
  background: #E74C3C;
}


/**
 * 3.konten
 */

#content h2{
  text-align:center;
}
