nav ul, header{
	margin:auto;
	width: 768px;

}

body{
	background: #6E91A2;
	color: white;
}

nav {
	text-align: center;
}
nav li {
	display: inherit;
}

li {
	padding:5px;
}

#header {
	background: white;
	text-align: center;
	padding: 50px 50px;
}

h3{
	color: #6E91A2;
}