/*umum*/ /*selector class = .*/ /*selector id = #*/
body{
	margin:0;
  	background:#ffb500;
  	font-family: sans-serif;
}
header,section, footer, nav>ul{
  	width:768px;
  	margin:auto;
 }


/**
Navigasi
**/
nav{
	border-bottom: dashed 5px #ffee00;
	box-shadow:1px 1px 2px black;
	text-align: center;
}

nav a{
  color:#39d972;
  text-shadow: 1px 1px 3px black;
  text-decoration:initial;
  padding: 3px;
  display: block;
}
nav a:hover{
  color:#D8D4CB;
  text-decoration:inherit;
  /*font-size: 25px;*/
}
nav ul{
  padding: 0;
}
nav li{
  text-align: center;
  display: inline-table;
  position: relative;
  width: 120px;
 }
 nav li:hover{
  background: #8E6C1A;
}
nav li:hover>ul{
  display: block;
   background: #8E6C1A;
}
nav li>ul li{
	position: relative;
	display: block;
}
nav li ul{
  position: absolute;
  display: none;
}
/*pilih ul level 3*/
nav li>ul li>ul{
background: #8E6C1A;
top:0;
left: 100%;
width: 125px;
}
nav li>ul li>ul li{
text-align: left;
}
nav li>ul li>ul li>ul{
background: #8E6C1A;
top:0;
left: 100%;
width: 125px;
}



/**
HEADERRRRR
**/
	
#header {
	clear: both;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 3px black;
	background-color: #ffb500;
}

#header-bawah {
	clear: both;
	margin: 3px;
	text-align: center;
}
/*katakatasayur*/
.ini{ 
	border-top-style: double;
	border-top: 3px dotted;
	border-bottom : 2px solid;
	padding: 7px 0 7px 0;
	background-color:#ff9900;
}


/*
content
*/
#content li{
	background: #ff9900;
	color: white;
	padding: 10px;
	border-top:  double 5px  #ffff33;
	border-bottom: double 5px #ffff33;
	width: 168px;
	float: left;
	margin:2px;
}

li p {
	text-align: left;
}
li{
	list-style: none;
}

ul{
	padding: 0px;
}

blockquote{
	width: 740px;
	color:white; 
	padding: 15px; 
	margin: 4px auto; 
	border: 3px solid yellow;
	background-color: #39d972;
	-moz-border-radius-topleft: 15px; 
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px; 
	-webkit-border-top-right-radius: 8px; 
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px; 
}


h2{
	text-align: center;
	margin:2px 0;
	text-shadow: 1px 1px 3px black;
	color: white;
}
h3{
	text-shadow: 1px 1px 3px black;
	text-align:center; 
	margin:auto; 
	color:white;
}


#mengapa{
	width: 768px;
	margin:auto;
	
}
#mengapa ul{
	margin-left:20px; 
}
#mengapa li{
	list-style: square;
}

#testi{
	width: 768px;
	margin:auto;
}

#harga{
	width: 768px;
	margin: auto;
	clear: both;
}
.zebra-table {
width:768px;
border-collapse: collapse;
overflow: hidden;
border:10px solid #ffee00;
}
.zebra-table th,.zebra-table td{
vertical-align: top;
padding:10px 7px;
text-align: center;
}
.zebra-table tbody tr:nth-child(odd) { /* Make table like zebra */
background:#ffee00;
}

#footer{
	margin-top: 12px;
	text-align: center;
	background-color: #ffee00;
	padding:10px 0;
}

