<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Layout</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="bungkus">
    <header>
      <a href="#">
        <h1>Layout</h1>
      </a> 

      <form action="" method="POST">
        <input type="text" name="cari"  placeholder="Masukan kata kunci" required>

        <input type="submit" value="Cari">
      </form>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Layanan</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Tentang</a></li>
        <li><a href="#">Kontak</a></li>
      </ul>
    </nav>
    <section>
      <article>
        <div class="article-gambar">
          <img src="./img/thumb.jpg" alt="Judul Pertama">
        </div>
        <div class="article-konten">
          <h2>
            <a href="#">Judul Pertama</a>
          </h2>
          <div class="article-konten-meta">Ditulis oleh <strong>Nama Anda</strong> pada <strong>2 Juni 2016</strong></div>
          <div class="article-konten-intro">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint delectus est laboriosam libero cumque sapiente qui, sunt ducimus atque ratione, ipsa, quam distinctio. Id, perspiciatis libero veniam quam veritatis cum.
            </p>
          </div>
        </div>
      </article>

      <article>
        <div class="article-gambar">
          <img src="./img/thumb.jpg" alt="Judul Pertama">
        </div>
        <div class="article-konten">
          <h2>
            <a href="#">Judul Pertama</a>
          </h2>
          <div class="article-konten-meta">Ditulis oleh <strong>Nama Anda</strong> pada <strong>2 Juni 2016</strong></div>
          <div class="article-konten-intro">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint delectus est laboriosam libero cumque sapiente qui, sunt ducimus atque ratione, ipsa, quam distinctio. Id, perspiciatis libero veniam quam veritatis cum.
            </p>
          </div>
        </div>
      </article>

      <article>
        <div class="article-gambar">
          <img src="./img/thumb.jpg" alt="Judul Pertama">
        </div>
        <div class="article-konten">
          <h2>
            <a href="#">Judul Pertama</a>
          </h2>
          <div class="article-konten-meta">Ditulis oleh <strong>Nama Anda</strong> pada <strong>2 Juni 2016</strong></div>
          <div class="article-konten-intro">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint delectus est laboriosam libero cumque sapiente qui, sunt ducimus atque ratione, ipsa, quam distinctio. Id, perspiciatis libero veniam quam veritatis cum.
            </p>
          </div>
        </div>
      </article>

      <article>
        <div class="article-gambar">
          <img src="./img/thumb.jpg" alt="Judul Pertama">
        </div>
        <div class="article-konten">
          <h2>
            <a href="#">Judul Pertama</a>
          </h2>
          <div class="article-konten-meta">Ditulis oleh <strong>Nama Anda</strong> pada <strong>2 Juni 2016</strong></div>
          <div class="article-konten-intro">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint delectus est laboriosam libero cumque sapiente qui, sunt ducimus atque ratione, ipsa, quam distinctio. Id, perspiciatis libero veniam quam veritatis cum.
            </p>
          </div>
        </div>
      </article>
    </section>
    <aside>
      <div class="widget">
        <div class="widget-title">
          <h3>Tulisan Terbaru</h3>
        </div>
        <div class="widget-content">
          <ul>
            <li><a href="#">Judul Pertama</a></li>
            <li><a href="#">Judul Kedua</a></li>
            <li><a href="#">Judul Ketiga</a></li>
            <li><a href="#">Judul Keempat</a></li>
            <li><a href="#">Judul Kelima</a></li>
          </ul>
        </div>
      </div>
    </aside>
    <footer>
      <p>
        &copy; 2016 Layout Website. All rights reserved.
      </p>
    </footer>
  </div>
</body>
</html>