<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Layout</title>
</head>
<body>
	<header>
		<a href="#">
			<h1>Web</h1>
		</a>

		<form action="" method="Post">
			<input type="text" name="cari" placeholder="masukkan kata kunci" required>

			<input type="submit" value="cari">
		</form>
	</header>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Layanan</a></li>
			<li><a href="#">Portofolio</a></li>
			<li><a href="#">Tentang</a></li>
			<li><a href="#">Kontak</a></li>
		</ul>
	</nav>
	<section>
		<article>
			<img src="./img/sayur.jpg" alt="judul pertama" style="width:200px;height:170px;">
		</article>
	</section>
	<aside></aside>
	<footer></footer>
</body>
</html>