body {
  font-family: arial, sans-serif;
  text-align: center;
}

nav ul {
  background: yellow;
  padding: 0;   /*----> utk merapikan ketika hendak membuat level 2 */
}

nav a {
  color: #444;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav li {
  display: inline-table;
  position: relative;   /* (membuat level 2) membuat li pertama menjadi relative */
}

nav li:hover {
  background: red;
}

nav li ul{
  position: absolute; /* (membuat level 2) membuat ul yang ada didalam li  menjadi absolute */
  display: none;    /* (membuat level 2) membuat li kedua menjadi hidden   */
}

nav li:hover>ul {
  display: block;  /* (membuat level 2) membuat li kedua diklik keluar tampilannya */
}

/*pilih ul level 3*/
nav li>ul li>ul {
  /*background: red;*/
  top: 0;
  left: 100%;
}

nav li>ul  {
  top: 0;
  left: 100%;
}